<div class="button-wrapper">
    <button mat-fab ><</button>
    <div class="current">
        
        {{this.currentDate | date: 'MMMM YYYY'}}
    </div>
    <button mat-fab >></button>
    
</div>
<div class="calendar-wrapper">

    <mat-grid-list cols="7" rowHeight="5:1" class="weekdays">
        
        <mat-grid-tile class="weekdays-border" *ngFor="let dayOfWeek of weekdays">{{dayOfWeek}}</mat-grid-tile>
    </mat-grid-list>
    <div class="days-wrapper">
        
        <mat-grid-list cols="7"  rowHeight="2:1">
            
            <mat-grid-tile  *ngFor="let empty of emptyDays"></mat-grid-tile>
            
            <mat-grid-tile 
            *ngFor="let day of days"
            [ngClass]="{weekend: isWeekend(day)}"
            
            >{{day | date: "dd"}}</mat-grid-tile>
            <mat-grid-tile  *ngFor="let empties of endingEmpties"></mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
  